@import '../stylesheets/variables.scss';

.container-data {
  display: flex;
  width: 100%;
  padding: 24px;
  background-color: $white-color;
  border-radius: 12px;
  box-shadow: $section-shadow;

  img {
    width: 272px;
    margin-inline-end: 32px;
    border-radius: 12px;
    object-fit: contain;
  }

  .data-info {
    width: 100%;
    .info-head {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      margin-block-end: 36px;

      .head-name {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 2.9rem;
        color: $text-primary-color;
      }

      >p {
        grid-row: 2/3;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.2rem;
        color: $text-secondary-color;
      }
            
      .head-email {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-block-end: 10px;

        span, p {
          margin-inline-end: 17px;
          font-size: 1.8rem;
          color: $text-primary-color;    
        }
      }

      .head-phone {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span, p {
          margin-inline-end: 17px;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 2.2rem;
          color: $text-primary-color;    
        }
      }
    }

    .info-body {
      width: 90%;

      p {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.2rem;           
        color: $text-secondary-color; 
        &:nth-child(1){
          margin-block-end: 16px;
        }
      }
    }
  }
}

.container-data.example2 {
  margin-block-end: 44px;
  flex-wrap: wrap;
  width: 413px;
  
  img {
    width: 367px;
    margin-block-end: 24px;
  }

  .info-head {
    display: block;
    margin-block-end: 36px;

    >p {
      margin-block-end: 24px;
    }

    .head-email, .head-phone {
      justify-content: flex-start;
    }
  }
}